<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap align-items-center justify-content-center p-5 text-center bg-primary text-white">

        <h3 class="text-uppercase mb-5">Create Better Developer Experiences With DevX Testing </h3>

        <a class="btn btn-circle btn-outline-white text-uppercase text-brand-primary-dark p-3 mr-3 w-25" href="javascript:">Find out More</a>
        <a class="btn btn-circle btn-outline-white text-uppercase text-brand-primary-dark p-3 w-25" href="javascript:">Buy Now</a>
      </div>
    </div>
  </div>
</div>
